/* -----------------------------------General */
* {
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    color: aliceblue;
}

:root {
    --white: #fff;
    --yellow: #FFE600;
    --blue: #364B83;
    --gray: #B8B8B8;
    --black: #000;
}

body {
    margin: 0;
    background-image: url("../../assets/image/luke-stackpoole-_aE8ainPt7M-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 600vh;
}

/* -----------------------------------NYFW-front*/

.nyfw-front {
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    width: 108vw;
    overflow: hidden;
    top: -10vh;
    left: -10vw;
    font-size: 42vw;
    color: var(--gray);
}

/* ----------------------------------------header*/

.navbar {
    display: flex;
    justify-content: center;
    margin-top: 4vh;
    top: 0;
    position: fixed;
    padding: 0;
    width: 100vw;
}

.navbar__option {
    list-style: none;
    margin: 0 2vw;
}

.navbar__option a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.navbar__option a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* ----------------------------------------main*/
main {
    margin-top: 50vw;
}

/* ----------------------------------------buy-button*/
.main__buy-button {
    display: block;
    margin: 0 auto;
    background-color: var(--yellow);
    color: var(--black);
    padding: 2vh 4vw;
    font-size: 2.5rem;
    border-radius: 2vw;
}

.main__buy-button:hover {
    cursor: pointer;    
}

/* ----------------------------------------sponsors*/

.main__sponsors {
    margin: 30vh 3vw 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 3vw;
}

/* ----------------------------------------date */
.main__date h2 {
    font-size: 7rem;
    text-align: center;
    margin-top: 40vh;
    font-weight: 400;
    color: var(--blue)
}