/* -----------------------------------General */
* {
    font-family: 'Work Sans', sans-serif;
    font-size: 10px;
    color: aliceblue;
}

:root {
    --white: #fff;
    --yellow: #FFE600;
    --blue: #182e68;
    --gray: #B8B8B8;
    --black: #000;
}

body {
    margin: 0;
    background-image: url("../../assets/image/luke-stackpoole-_aE8ainPt7M-unsplash.jpg");
    background-position: center;
    background-size: cover;
    height: 600vh;
}

img, li, h2, iframe, i {
    opacity: 0;
    transition: 2s ease-out;
    will-change: opacity;
}

.visible {
    opacity: 1;
}

/* -----------------------------------NYFW-front*/

.nyfw-front {
    position: absolute;
    font-family: 'Playfair Display', serif;
    font-weight: 400;
    width: 108vw;
    overflow: hidden;
    top: -10vh;
    left: -10vw;
    font-size: 42vw;
    color: var(--gray);
}

/* ----------------------------------------header*/

.navbar {
    display: flex;
    justify-content: center;
    padding: 3vh 0 1vh;
    margin: 0;
    top: 0;
    position: fixed;
    width: 100vw;
    z-index: 5;
    background-color: var(--black);
}

.navbar li {
    opacity: 1;
}

.navbar__option {
    list-style: none;
    margin: 0 2vw;
}

.navbar__option a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
}

.navbar__option a:hover {
    cursor: pointer;
    text-decoration: underline;
}

/* ----------------------------------------main*/
main {
    margin-top: 50vw;
}

/* ----------------------------------------buy-button*/
.main__buy-button {
    display: block;
    margin: 0 auto;
    background-color: var(--yellow);
    color: var(--black);
    padding: 2vh 4vw;
    font-size: 2.5rem;
    border-radius: 2vw;
    box-shadow: inset 0px 0px white;
    transition: box-shadow 1s ease-out;
}

.main__buy-button:hover {
    cursor: pointer;
    box-shadow: inset 300px 0px white;
}

/* ----------------------------------------sponsors*/

.main__sponsors {
    margin: 30vh 3vw 0;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    gap: 3vw;
}

/* ----------------------------------------date */
.main__date h2 {
    font-size: 5rem;
    text-align: center;
    margin: 40vh 0 0;
    font-weight: 300;
    color: var(--blue)
}



/* ----------------------------------------main-data*/
.main__designers {
    display: grid;
    margin: 4vh 0;
    text-align: center;
}

.main__designers h3 {
    color: var(--blue);
    grid-column: 1 / 13;
    grid-row: 1 / 3;
    font-size: 3rem;
    margin: 0;
    font-weight: 400;
    display: flex;
    place-self: center;
}

.main__designers--name {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    color: var(--blue);
    list-style-type: none;
    text-transform: uppercase;
    margin: 3vh 4vw;
    gap: 1vw;
    padding: 0;
    align-items: center;
}

.main__designers--name li {
    color: var(--blue);
    font-size: 1.5rem;
    font-weight: 400;
}


/* --------------------------------video */

.main__video {
    top: 330vh;
    position: absolute;
    display: block;
    left: calc(50% - 50vw/2);
    height: 0;
    width: 50vw;
    padding-top: calc(50vw * 0.5625);
}

.main__video--iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    border-radius: 2vw;
    box-shadow: 8px 16px 24px -12px var(--gray);
}

/* --------------------------------stories */

.stories {
    margin: 180vh 10vw 10vh;
}

.stories__card {
    display: grid;
    grid-template-columns: 1fr 6fr;
    border-radius: 2vw;
    overflow: hidden;
    background-color: #000000AA;
    margin: 1vh 0;
    opacity: 0.8;
}

.stories__card:hover {
    opacity: 1;
    cursor: pointer;
}

.stories__card--photo {
    width: 20vw;
    height: 20vh;
    margin: 0;
}

.stories__card--photo img{
    width: 100%;
}

.stories__card--description {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.stories__card--description:hover {
    text-decoration: underline;
}

.stories__card--description h3 {
    font-size: 3rem;
    margin: 0;
}

.stories__card--description p {
    font-size: 2rem;
    margin-top: 1vh;
}

/* -------------------------------------footer */
footer {
    margin: 10vw;
    display: grid;
    grid-auto-flow: row;
}

.links ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
}

.links li { 
    margin: 0 1vw;
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 300;
}

.links li:hover {
    text-decoration: underline;
    cursor: pointer;
}

.hashtag {
    text-align: center;
    margin-top: 15vh;
    font-size: 2.5rem;
    font-weight: 300;
}

.input__container {
    text-align: center;
    margin-top: 2vh;
}

.input__container input {
    height: 5vh;
    width: 33vw;
    font-size: 2rem;
    border-radius: 1vw;
    padding-left: 1vw;
    color: var(--blue);
}

.input__container input:focus {
    outline: none;
}

.submit-button {
    margin-top: 2vh;
    text-align: center;
}

.submit-button button {
    color: var(--black);
    background-color: var(--yellow);
    font-size: 2rem;
    padding: 1vh 2vw;
    border-radius: 1vw;
    box-shadow: inset 0px 0px white;
    transition: box-shadow 1s ease-out;
    will-change: box-shadow;    
}

.submit-button button:hover {
    cursor: pointer;
    cursor: pointer;
    box-shadow: inset 300px 0px white;
}

.media {
    margin: 5vh 0 ;
    display: flex;
    justify-content: center;
}

.media a {
    text-decoration: none;
}

.icon {
    margin: 0 2vw;
    font-size: 4rem;
}

.copyright {
    text-align: center;
    margin-top: 20vh;
    font-size: 4rem;
    font-weight: 300;
}